body {
	background: #FDFDFD;
}

a {
	color: tomato;
	text-decoration:none;
	padding: 4px;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {
	background: tomato;
	color: #FDFDFD;
	text-decoration:none;
}
a:active {text-decoration:none;}

.header {
	margin: 100px 0 35px 0;
}

.header > *:hover {
	color: tomato;
	background: #FDFDFD;
}

.header a {
	color: black;
	text-decoration: none;
}

.banner {
	background: tomato; 
	height: 100px;
}

.post h1, .post h2, .post h3 {
	border-left: 8px solid #CCC;
	margin: 40px 0px 30px 0px;
	padding: 15px 30px 15px 10px;
}

.post h3 {
	padding: 10px 30px 10px 10px;
}

.post h1:nth-child(1), .post h2:nth-child(1) {
	border-left: 8px solid tomato;
}

.article_date {
	margin-top: 65px;
	text-transform: uppercase;
	text-align: left;
}

.post_content p {
	line-height: 130%;
	font-size: 1.2em;
	margin-bottom: 20px;
}

li {
	font-size: 1.2em;
}

.footer {
	padding: 20px 0;
}

.footer a {
	text-decoration: none;
}

/** extra small devices (phones) */
@media (min-width: 768px) {
	.post_content p {
		line-height: 120%;
		font-size: 1.3em;
		margin-bottom: 20px;
	}

	.banner {
		height: 200px;
	}
}

/** small devices (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
	.post_content p {
		line-height: 160%;
		font-size: 1.4em;
		margin-bottom: 20px;
	}

	.banner {
		height: 200px;
	}

	.row {
		margin-right: 0;
		margin-left: 0;
	}	
}

/** Medium Devices (desktops) */
@media (min-width: 992px) {
	.post_content p {
		line-height: 160%;
		font-size: 1.5em;
		margin-bottom: 20px;
	}

	.article_date {
		text-align: right;
	}

	.banner {
		height: 200px;
	}
}

/** Large devices (TVs, large desktops) */
@media (min-width: 1200px) {
	.post_content p {
		line-height: 160%;
		font-size: 1.6em;
		margin-bottom: 20px;
	}

	.article_date {
		text-align: right;
	}

	.banner {
		height: 200px;
	}
}