body {
	background: #FDFDFD;
}

.header {
	margin: 100px 0 35px 0;
}

.banner {
	background: tomato; 
	height: 200px
}

.post h1, .post h2 {
	border-left: 8px solid #CCC;
	margin: 40px 0px 30px 0px;
	padding: 15px 30px 15px 10px;
}

.article_date {
	margin-top: 65px;
	text-transform: uppercase;
}

.content p {
	line-height: 160%;
	font-size: 1.8em;
	margin-bottom: 20px;
}