.header {
	font-family: Arial,sans-serif;
	padding: 0;
	padding-top: 30px;
	text-align: center;
}

.title a, .header a {
	border: 0;
}

.banner {
	text-align: center;
	padding: 20px 10px;
}

.date {
	text-align: right;
}

.post {
	padding: 0;
	padding-top: 32px;
	padding-bottom: 8px;
}

.footer {
	padding-bottom: 30px;
}

.contact {
	text-align: center;
	padding: 0;
}

.contact li {
	display: inline-block;
	padding: 0px 8px;
}

.contact li a {
	padding: 2px 4px;
}

.continue-reading {
	border: 0;
}