.banner {
	background-color: tomato;
	color: white;
}

a {
	border-bottom: dotted 1px tomato;
}

a:hover {
	background: tomato;
	color: white;
}

.title:hover a, .header:hover a {
	background: white;
	color: tomato;
}

.article h1, .article h2  {
	border-left: tomato solid 8px;
	padding-left: 8px;
}

.article h3 {
	border-left: #999 solid 4px;
	padding-left: 8px;	
}

.date {
	color: #999;
}

.continue-reading {
	color: tomato;
}