---
layout: default
---
<div class="banner">
	<h2>Life as a developer shouldn't be so rough...</h2>
</div>

{% for post in paginator.posts %}
<div class="post">
	<h2 class="title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
	<h3 class="date">{{ post.date | date_to_string }}</h3>
	{{ post.excerpt }}
	<a href="{{ post.url }}">Continue reading...</a>
</div>
{% endfor %}

<section id="paginator">
	{% if paginator.total_pages > 1 %}
		<nav id="pagination">
			<ol>
			  {% if paginator.previous_page > 1 %}
			    {% capture page_url %}page{{ page }}{% endcapture %}
			  {% endif %}
			  {% if paginator.previous_page %}
			  <li>
			    <a href="/{{ page_url }}" title="Go to previous page">
			      &laquo;
			    </a>
			  </li>
			  {% endif %}
			  <li>
			  {% for page in (1..paginator.total_pages) %}
			  <li>
			    {% if page > 1 %}
			      {% capture page_url %}page{{ page }}{% endcapture%}
			    {% endif %}
			    {% if page == paginator.page %}
			      {{ page }}
			    {% else %}
			      <a href="/{{ page_url }}">{{ page }}</a>
			    {% endif %}
			  </li>
			  {% endfor %}
			  {% if paginator.next_page %}
			  <li>
			    <a href="/page{{ paginator.next_page }}" title="Go to next page">
			      &raquo;
			    </a>
			  </li>
			  {% endif %}
			</ol>
		</nav>
	  {% endif %}
</section>	