---
layout: default
---
<section id="posts" class="post_content">
	{% for post in paginator.posts %}
		<div class="row post">
			<div class="col-lg-2">
				<h5 class="article_date text-muted">
					{{ post.date | date_to_string }}
				</h5>
			</div>
			<div class="col-lg-9">
				<h2 class="article_title">
					{{ post.title }}
				</h2>
				{{ post.excerpt }}

				<a href="{{ post.url }}">Continue reading...</a>
			</div>
		</div>
	{% endfor %}
</section>

<section id="paginator">
	{% if paginator.total_pages > 1 %}
		<nav id="pagination">
			<ol>
			  {% if paginator.previous_page > 1 %}
			    {% capture page_url %}page{{ page }}{% endcapture %}
			  {% endif %}
			  {% if paginator.previous_page %}
			  <li>
			    <a href="/{{ page_url }}" title="Go to previous page">
			      &laquo;
			    </a>
			  </li>
			  {% endif %}
			  <li>
			  {% for page in (1..paginator.total_pages) %}
			  <li>
			    {% if page > 1 %}
			      {% capture page_url %}page{{ page }}{% endcapture%}
			    {% endif %}
			    {% if page == paginator.page %}
			      {{ page }}
			    {% else %}
			      <a href="/{{ page_url }}">{{ page }}</a>
			    {% endif %}
			  </li>
			  {% endfor %}
			  {% if paginator.next_page %}
			  <li>
			    <a href="/page{{ paginator.next_page }}" title="Go to next page">
			      &raquo;
			    </a>
			  </li>
			  {% endif %}
			</ol>
		</nav>
	  {% endif %}
</section>	