<div class="column is-one-quarter" style="padding-top: 50px;">
    <div class="card">
        <div class="card-content">
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1077332010614613"
            data-ad-slot="7000925068"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
    <div class="card">
        <div class="card-image has-background-black">
            <figure class="image">
                <img src="/assets/img/machine-learning-by-tutorials.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-6">The best book on machine learning for iOS.</p>
                </div>
            </div>
            <div class="content">
                <a href="https://store.raywenderlich.com/products/machine-learning-by-tutorials" target="_blank" class="button is-success is-rounded"><strong>Buy now →</strong></a>
            </div>
        </div>
    </div>

    <div class="card" style="margin-top: 10px;">
        <div class="card-image has-background-black">
            <figure class="image">
                <img src="/assets/img/mlfairy.png" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-6">
                        Work with CoreML? Then you need MLFairy.com.
                    </p>
                </div>
            </div>
            <div class="content">
                <a href="https://mlfairy.com" target="_blank" class="button is-success is-rounded"><strong>MLFairy →</strong></a>
            </div>
        </div>
    </div>

    <div class="card" style="margin-top: 10px;">
        <div class="card-image has-background-black">
            <figure class="image">
                <img src="/assets/img/patreon-sidebar.jpg" alt="Placeholder image">
            </figure>
        </div>
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-6">Enjoy my content? Consider becoming a member of my patreon, and help me continue making content!</p>
                </div>
            </div>
            <div class="content">
                <a href="https://www.patreon.com/bePatron?u=32456906" data-patreon-widget-type="become-patron-button">Become a Patron!</a><script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
            </div>
        </div>
    </div>

</div>