<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script data-ad-client="ca-pub-1077332010614613" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150071627-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-150071627-2');
</script>

<link rel="stylesheet" id="bulma-css" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css?ver=5.8.1" type="text/css" media="all">
<script type="text/javascript" src="//use.fontawesome.com/releases/v5.1.0/js/all.js?ver=5.8.1" id="fontawesome-js"></script>

<!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/agate.min.css"> -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/styles/atom-one-dark.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.4.0/highlight.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlightjs-line-numbers.js/2.8.0/highlightjs-line-numbers.min.js"></script>

<script>
    hljs.initHighlightingOnLoad();
    hljs.initLineNumbersOnLoad();
</script>
<title>{% if page.title %}{{ page.title }}{% else %}Vijay Sharma Consulting{% endif %} | vijaysharma.ca</title>
<style>
    .project-continer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        background-color: white;
        padding: 16px;
        border-radius: 8px;
        column-gap: 10px;
    }

    .project-continer-left {
        grid-template-areas:
            "image title title title"
            "image subtitle subtitle subtitle"
            "image link link link" 
    }

    .project-continer-right {
        grid-template-areas:
            "title title title image"
            "subtitle subtitle subtitle image"
            "link link link image"
    }

    .project-continer-image {
        grid-area: image;
        display: flex;
    }

    .project-continer-title {
        grid-area: title;
    }

    .project-continer-subtitle {
        grid-area: subtitle;
    }

    .project-continer-link {
        grid-area: link
    }
</style>
