<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{% if page.title %} {{ page.title }} | {% endif %} Vijay Sharma</title>

	<meta name="viewport" contents="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" media="screen" href="/css/bootstrap.min.css">
	<link rel="stylesheet" media="screen" href="/css/custom.css">
</head>

<body class="{{ page.layout }}">

	<section id="header">
		{% include header.html %}
	</section>

	<section class="content">
		<div class="row">
			<div class="col-lg-10">
				{{content}}
			</div>
			<div class="col-lg-2">
				sidebar
			</div>
		</div>
	</section>

	<section id="footer">
		{% include footer.html %}
	</section>		
</body>

</html>